<style>
.scrollbar-container {
    height: 100vh; /* veya başka bir yükseklik değeri */
    overflow-y: auto;
}

.scrollbar-container.no-scroll {
    overflow-y: hidden;
}
</style>

<div class="scrollbar-container">
<app-header></app-header>
    <mat-drawer-container class="admin-container">
        <mat-drawer mode="side" opened class="admin-left">
            <app-sidebar></app-sidebar>
        </mat-drawer>
        <mat-drawer-content class="admin-right">
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
<app-footer></app-footer>
</div>