<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="product-large-slider mb-20 slick-arrow-style_2">
                <div class="pro-large-img img-zoom" id="img1">
                    <img src="assets/img/product/product-details-img1.jpg" alt="" />
                </div>
            </div>
            <div class="product-details-des mt-md-34 mt-sm-34">
                <h3><a href="product-details.html">external product 12</a></h3>
                <div class="ratings">
                    <span class="good"><i class="fa fa-star"></i></span>
                    <span class="good"><i class="fa fa-star"></i></span>
                    <span class="good"><i class="fa fa-star"></i></span>
                    <span class="good"><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <div class="pro-review">
                        <span>1 review(s)</span>
                    </div>
                </div>
                <div class="availability mt-10">
                    <h5>Availability:</h5>
                    <span>1 in stock</span>
                </div>
                <div class="pricebox">
                    <span class="regular-price">$160.00</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<br>
                Phasellus id nisi quis justo tempus mollis sed et dui. In hac habitasse platea dictumst. Suspendisse ultrices mauris diam. Nullam sed aliquet elit. Mauris consequat nisi ut mauris efficitur lacinia.</p>
                <div class="quantity-cart-box d-flex align-items-center mt-20">
                    <div class="quantity">
                        <div class="pro-qty"><input type="text" value="1"></div>
                    </div>
                    <div class="action_link">
                        <a class="buy-btn" href="#">add to cart<i class="fa fa-shopping-cart"></i> </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h2>Yorumlar</h2>
            <div class="review-form">
                <h5>Bu ürün için toplam {{productCommentLists.totalCount}} yorum var</h5>
                <div class="total-reviews" *ngFor="let comment of productCommentLists?.datas">
                    <div class="review-box">
                        <div class="ratings">
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="post-author">
                            <p><span>{{ comment.userName }} -</span> {{ comment.createDate | date: 'medium' }}</p>
                        </div>
                        <p>{{ comment.content }}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label class="col-form-label"><span class="text-danger">*</span> Yorumunuz:</label>
                        <textarea class="form-control" name="content" required></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label class="col-form-label"><span class="text-danger">*</span> Rating</label>
                        &nbsp;1
                        <input type="radio" value="1" name="rating">
                        &nbsp;2
                        <input type="radio" value="2" name="rating">
                        &nbsp;3
                        <input type="radio" value="3" name="rating">
                        &nbsp;4
                        <input type="radio" value="4" name="rating">
                        &nbsp;5
                        <input type="radio" value="5" name="rating" checked>
                    </div>
                </div>
                <div class="buttons">
                    <button class="sqr-btn" (click)="create()">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>