<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="product-large-slider mb-20 slick-arrow-style_2">
                <div class="pro-large-img img-zoom" id="img1">
                    <img *ngIf="!productImage[0]" src="https://picsum.photos/200/200">
                    <img *ngIf="productImage[0]" src="{{productImage[0].path}}">
                </div>
            </div>
            <div class="product-details-des mt-md-34 mt-sm-34">
                <h3><a href="product-details.html">
                    {{product.name.split(' ')[0]}} <span style="font-weight: normal;">{{product.name.split(' ').slice(1).join(' ')}}</span> 
                </a></h3>
                <div class="pricebox">
                    <span class="regular-price">{{ product.price | currency:'TRY':'symbol-narrow':'1.2-2' }}</span>
                </div>
                <p>{{product.description}}</p>
                <div class="quantity-cart-box d-flex align-items-center">
                    <div class="action_link">
                        <a class="buy-btn" href="#">Sepete Ekle<i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div>
                    <p style="float:left; color: #00a821; font-weight: bold; padding-right: 3px; font-size: 12px;">
                        Hızlı Teslimat:
                    </p>
                    <p style="float:left; font-size: 12px;">
                        2 gün içinde kargoda
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h2>Yorumlar</h2>
            <div class="review-form">
                <h4>
                    Ortalama Puan: {{ productCommentLists.avrRating }}
                    <span class="good" *ngFor="let _ of range(productCommentLists.avrRating)"><i class="fa fa-star"></i></span>
                </h4>
                <h5>Bu ürün için toplam {{productCommentLists.totalCount}} yorum var</h5>
                <div class="total-reviews" *ngFor="let comment of productCommentLists.datas">
                    <div class="review-box">
                        <div class="ratings">
                            <span class="good" *ngFor="let _ of range(comment.ratings)"><i class="fa fa-star"></i></span>
                        </div>
                        <div class="post-author">
                            <p><span>{{ comment.userName }} -</span> {{ comment.createDate | date: 'medium' }}</p>
                        </div>
                        <p>{{ comment.content }}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label class="col-form-label"><span class="text-danger">*</span> Yorumunuz:</label>
                        <textarea class="form-control" name="content" required></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label class="col-form-label"><span class="text-danger">*</span> Rating</label>
                        &nbsp;1
                        <input type="radio" value="1" name="rating">
                        &nbsp;2
                        <input type="radio" value="2" name="rating">
                        &nbsp;3
                        <input type="radio" value="3" name="rating">
                        &nbsp;4
                        <input type="radio" value="4" name="rating">
                        &nbsp;5
                        <input type="radio" value="5" name="rating" checked>
                    </div>
                </div>
                <div class="buttons">
                    <button class="sqr-btn" (click)="create()">Yorumu Gönder</button>
                </div>
            </div>
        </div>
    </div>
</div>