        <!-- brand area start -->
        <div class="brand-area pt-34 pb-30 pt-md-0 pt-sm-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title mb-30">
                            <div class="title-icon">
                                <i class="fa fa-crop"></i>
                            </div>
                            <h3>{{ 'PopularBrand' | translate }}</h3>
                        </div> <!-- section title end -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="brand-active slick-padding slick-arrow-style">
                            <div class="brand-item text-center" *ngFor="let data of jsonData.populerBrands">
                                <a href="#"><img src="{{data.images}}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- brand area end -->
        <!-- footer area start -->
        <footer>
          <!-- footer top start -->
          <div class="footer-top bg-black pt-14 pb-14">
              <div class="container">
                  <div class="footer-top-wrapper">
                      <div class="newsletter__wrap">
                          <div class="newsletter__title">
                              <div class="newsletter__icon">
                                  <i class="fa fa-envelope"></i>
                              </div>
                              <div class="newsletter__content">
                                  <h3>{{ 'NewsletterTitle' | translate }}</h3>
                                  <p>{{ 'NewsletterContent' | translate }}</p>
                              </div>
                          </div>
                          <div class="newsletter__box">
                              <form id="mc-form">
                                  <input type="email" id="mc-email" autocomplete="off" placeholder="Email">
                                  <button id="mc-submit">{{ 'Subscribe' | translate }}</button>
                              </form>
                          </div>
                          <!-- mailchimp-alerts Start -->
                          <div class="mailchimp-alerts">
                              <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                              <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                              <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                          </div>
                          <!-- mailchimp-alerts end -->
                      </div>
                      <div class="social-icons">
                          <a href="{{ 'Facebook' | translate }}" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                          <a href="{{ 'Twitter' | translate }}" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                          <a href="{{ 'Instagram' | translate }}" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
                          <a href="{{ 'Google' | translate }}" data-toggle="tooltip" data-placement="top" title="Google-plus"><i class="fa fa-google-plus"></i></a>
                          <a href="{{ 'Youtube' | translate }}" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube"></i></a>
                      </div>
                  </div>
              </div>
          </div>
          <!-- footer top end -->

          <!-- footer main start -->
          <div class="footer-widget-area pt-40 pb-38 pb-sm-10">
              <div class="container">
                  <div class="row">
                      <div class="col-md-3 col-sm-6">
                          <div class="footer-widget mb-sm-30">
                              <div class="widget-title mb-10 mb-sm-6">
                                  <h4>{{ 'ContactUs' | translate }}</h4>
                              </div>
                              <div class="widget-body">
                                  <ul class="location">
                                      <li><i class="fa fa-envelope"></i>{{ 'Info' | translate }}@{{ 'Domain' | translate }}</li>
                                      <li><i class="fa fa-phone"></i>{{ 'PhoneNumber' | translate }}</li>
                                      <li><i class="fa fa-map-marker"></i>{{ 'Address' | translate }}</li>
                                  </ul>
                                  <a class="map-btn" href="contact-us.html">{{ 'OpenInGoogleMap' | translate }}</a>
                              </div>
                          </div> <!-- single widget end -->
                      </div> <!-- single widget column end -->
                      <div class="col-md-3 col-sm-6">
                          <div class="footer-widget mb-sm-30">
                              <div class="widget-title mb-10 mb-sm-6">
                                  <h4>{{ 'MyAccount' | translate }}</h4>
                              </div>
                              <div class="widget-body">
                                  <ul>
                                      <li><a href="#">{{ 'MyAccount' | translate }}</a></li>
                                  </ul>
                              </div>
                          </div> <!-- single widget end -->
                      </div> <!-- single widget column end -->
                      <div class="col-md-3 col-sm-6">
                          <div class="footer-widget mb-sm-30">
                              <div class="widget-title mb-10 mb-sm-6">
                                  <h4>{{ 'MyAccount' | translate }}</h4>
                              </div>
                              <div class="widget-body">
                                  <ul>
                                      <li><a href="#">{{ 'MyAccount' | translate }}</a></li>
                                  </ul>
                              </div>
                          </div> <!-- single widget end -->
                      </div> <!-- single widget column end -->
                      <div class="col-md-3 col-sm-6">
                          <div class="footer-widget mb-sm-30">
                              <div class="widget-title mb-10 mb-sm-6">
                                  <h4>{{ 'MyAccount' | translate }}</h4>
                              </div>
                              <div class="widget-body">
                                  <ul>
                                      <li><a href="#">{{ 'MyAccount' | translate }}</a></li>
                                  </ul>
                              </div>
                          </div> <!-- single widget end -->
                      </div> <!-- single widget column end -->
                  </div>
              </div>
          </div>
          <!-- footer main end -->
      </footer>
      <!-- footer area end -->