<div class="login-register-wrapper">
  <div class="container">
      <div class="member-area-from-wrap">
          <div class="row">
              <!-- Login Content Start -->
              <div class="col-lg-3"></div>
              <div class="col-lg-9">
                  <div class="login-reg-form-wrap  pr-lg-50">
                      <h2>{{ "Login" | translate }}</h2>
                          <div class="single-input-item">
                              <input type="text" required #txtUsernameOrEmail id="username" placeholder="Kullanıcı Adı & Email" />
                          </div>
                          <div class="single-input-item">
                              <input type="password" required #txtPassword id="password" placeholder="Şifre"/>
                          </div>
                          <div class="single-input-item">
                              <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
                                  <div class="remember-meta">
                                      <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" id="rememberMe">
                                          <label class="custom-control-label" for="rememberMe">{{ "RememberMe" | translate }}</label>
                                      </div>
                                  </div>
                                  <a href="#" class="forget-pwd" routerLink="/password-reset">{{ "ForgetPassword" | translate }}</a>
                              </div>
                          </div>
                          <div class="single-input-item">
                            <button class="sqr-btn" type="submit" (click)="login(txtUsernameOrEmail.value, txtPassword.value)">{{ "Login" | translate }}</button>
                          </div>
                          <div class="single-input-item">
                            <asl-google-signin-button></asl-google-signin-button>
                            <img src="../../../assets/facebook.png" style="width: 30px; height: 30px; cursor:pointer;" (click)="facebookLogin()" />
                          </div>
                  </div>
              </div>
              <!-- Login Content End -->
          </div>
      </div>
  </div>
</div>