<mat-list role="list" class="sidebar">
  <a mat-button routerLink="/admin" class="example-flex-container" [class.active]="item === ''" style="margin-top: -8px;">Dashboard</a>
  <a mat-button routerLink="products" class="example-flex-container" [class.active]="item === 'products'">Products</a>
  <a mat-button routerLink="categories" class="example-flex-container" [class.active]="item === 'categories'">Categories</a>
  <a mat-button routerLink="brands" class="example-flex-container" [class.active]="item === 'brands'">Brands</a>
  <a mat-button routerLink="attributes" class="example-flex-container" [class.active]="item === 'attributes'">Attributes</a>
  <a mat-button routerLink="comments" class="example-flex-container" [class.active]="item === 'comments'">Comments</a>
  <a mat-button routerLink="orders" class="example-flex-container" [class.active]="item === 'orders'">Orders</a>
  <a mat-button routerLink="users" class="example-flex-container" [class.active]="item === 'users'">Users</a>
  <a mat-button routerLink="roles" class="example-flex-container" [class.active]="item === 'roles'">Roles</a>
  <a mat-button routerLink="authorize-menu" class="example-flex-container" [class.active]="item === 'authorize-menu'">Authorize Menu</a>
  </mat-list>  