<div class="page-main-wrapper">
    <div class="container">
        <div class="row">
            <!-- sidebar start -->
            <div class="col-lg-3 order-2 order-lg-1">
                <div class="shop-sidebar-wrap mt-md-28 mt-sm-28">
                    <!-- sidebar categorie start -->
                    <div class="sidebar-widget mb-30">
                        <div class="sidebar-category">
                            <ul>
                                <li class="title"><i class="fa fa-bars"></i> {{ "Category" | translate }}</li>
                                <li *ngFor="let category of categories.datas">
                                    <a href="products/{{category.slug}}/1">{{category.name}}</a>
                                    <!--<span>(12)</span>-->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- sidebar categorie start -->

                    <!-- manufacturer start -->
                    <div class="sidebar-widget mb-30">
                        <div class="sidebar-title mb-10">
                            <h3>{{ "Manufacturers" | translate }}</h3>
                        </div>
                        <div class="sidebar-widget-body">
                            <ul>
                                <li *ngFor="let brand of brands.datas">
                                    <i class="fa fa-angle-right"></i><a href="http://localhost:4200/products/brand/{{brand.name}}/1">{{brand.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- manufacturer end -->
                </div>
            </div>
            <!-- sidebar end -->

            <!-- product main wrap start -->
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="shop-banner img-full">
                    <img src="assets/img/banner/banner_static1.jpg" alt="">
                </div>
                <!-- product view wrapper area start -->
                <div class="shop-product-wrapper pt-34">
                    <!-- shop product top wrap start -->
                    <div class="shop-top-bar">
                        <div class="row">
                            <div class="col-lg-7 col-md-6">
                                <div class="top-bar-left">
                                    <div class="product-view-mode mr-70 mr-sm-0">
                                        <a class="active" href="#" data-target="grid"><i class="fa fa-th"></i></a>
                                        <a href="#" data-target="list"><i class="fa fa-list"></i></a>
                                    </div>
                                    <div class="product-amount">
                                        <p>{{ "ProductAmount" | translate }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <div class="top-bar-right">
                                    <div class="product-short">
                                        <p>{{ "SortBy" | translate }} : </p>
                                        <select class="nice-select" name="sortby">
                                            <option value="trending">{{ "Relevance" | translate }}</option>
                                            <option value="sales">{{ "Name" | translate }} {{ "A-Z" | translate }}</option>
                                            <option value="sales">{{ "Name" | translate }} {{ "Z-A" | translate }}</option>
                                            <option value="rating">{{ "Price" | translate }} (Low &gt; {{ "High" | translate }})</option>
                                            <option value="date">{{ "Rating" | translate }} ({{ "Lowest" | translate }})</option>
                                            <option value="price-asc">{{ "Model" | translate }} {{ "A-Z" | translate }}</option>
                                            <option value="price-asc">{{ "Model" | translate }} {{ "Z-A" | translate }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- shop product top wrap start -->

                    <!-- product item start -->
                    <div class="shop-product-wrap grid row" *ngIf="allProducts !== null">
                        <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let product of allProducts">
                            <!-- product single grid item start -->
                            <div class="product-item fix mb-30">
                                <div class="product-thumb">
                                    <a href="product/{{product.id}}">
                                        <img *ngIf="!product.productImageFiles.length" src="https://picsum.photos/200/200" class="img-pri" alt="">
                                        <img *ngIf="product.productImageFiles.length" src="https://picsum.photos/200/200" class="img-sec" alt="">
                                    </a>
                                    <div class="product-label">
                                        <span>{{ "Hot" | translate }}</span>
                                    </div>
                                    <div class="product-action-link">
                                        <a (click)="addToBasket(product)" data-toggle="tooltip" data-placement="left" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h4><a routerLink="product-detail/{{product.id}}">{{product.name}}</a></h4>
                                    <div class="pricebox">
                                        <span class="regular-price">{{product.price | currency}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- product single grid item end -->
                    </div>
                    <!-- product item end -->

                    <!-- product item start -->
                    <div class="shop-product-wrap grid row" *ngIf="brandProducts !== null">
                        <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let product of brandProducts">
                            <!-- product single grid item start -->
                            <div class="product-item fix mb-30">
                                <div class="product-thumb">
                                    <a href="product/{{product.id}}">
                                        <img src="https://picsum.photos/200/200" class="img-pri" alt="">
                                    </a>
                                    <div class="product-label">
                                        <span>{{ "Hot" | translate }}</span>
                                    </div>
                                    <div class="product-action-link">
                                        <a (click)="addToBasket(product)" data-toggle="tooltip" data-placement="left" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h4><a routerLink="product-detail/{{product.id}}">{{product.name}}</a></h4>
                                    <div class="pricebox">
                                        <span class="regular-price">{{product.price | currency}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- product single grid item end -->
                    </div>
                    <!-- product item end -->
                </div>
                <!-- product view wrapper area end -->

                <!-- start pagination area -->
                <div class="paginatoin-area text-center pt-28">
                    <div class="row">
                        <div class="col-12">
                            <ul class="pagination-box">
                                <li>
                                    {{currentPageNo}}/{{totalPageCount}}
                                </li>
                                <li>
                                    <a class="Previous" [routerLink]="['/products', currentPageNo-1 <= 0 ? 1 : currentPageNo-1]">{{ "Previous" | translate }}</a>
                                </li>
                                <li class="active" *ngFor="let pageNo of pageList;" routerLinkActive="active">
                                    <a [routerLink]="['/products', pageNo]">{{pageNo}}</a>
                                  </li>
                                <li>
                                    <a class="Next" [routerLink]="['/products', currentPageNo+1 >= totalPageCount ? totalPageCount : currentPageNo+1]">{{ "Next" | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end pagination area -->

            </div>
            <!-- product main wrap end -->
        </div>
    </div>
</div>